@page "/"

<PageTitle>Home</PageTitle>
    <h1>Bem vindo</h1>
<h3>@usuario?.Nome</h3>
<h4>Seu pedido de hoje foi @usuario?</h4>
<hr />
<h5>Caso deseje mudar sua escolha, selecione uma das opções abaixo</h5>
<div>
    <input id="PaoDeSal" type="button" value="Pão de Sal" />
    <input id="PaoDoce" type="button" value="Pão Doce" />
    <input id="SemPao" type="button" value="Sem Pão" />
</div>
<hr />


@code {
    private string selectedSlide = "2";
    private Cons_Usuario? usuario = new Cons_Usuario();


    protected override async Task OnInitializedAsync()
    {
        usuario.Nome = $"Nome Teste";
    }
}
